{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <a href="/">Back to home</a>
      <h1>Book Request... </h1>

      <form action="" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with request=request %}
        <div class=" text-center">
          <input type="submit" value="Book Lesson" class="btn btn-secondary" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
