{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Add New Term</h1>

      <span class="me-auto text-right text-danger ">
        {{error_messages}}
      </span>
      <form action="{% url 'admin_add_term' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class=" text-center">
          <input type="submit" value="Add Term" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
