#cover-images {
    background: url('images/music-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
  }


#initial-cover-images {
      background: url('images/music-image.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      background-attachment: scroll;
    }
.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  /* max-width: 30rem; */
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 100%;
}

.cover-card-block {
  opacity: 1
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
  color: #474747;
}

p.cover-text {
  font-size: 1.7rem;
}