{% extends 'base_content.html' %}
{% block content %}
<div id="cover-images">
  <div>
    <h2>Add a child</h2>

    </img>
    <p>
      {% if user.is_authenticated %}
        <p>Adding a child as {{ user.first_name }} {{ user.last_name }} </p>
        <p><a href='{% url "home" %}'>Go back</a></p>
        <p><a href='{% url "view_child" %}'>View current children</a></p>

        <form action='{% url "add_child" %}' method="post">
          {% csrf_token %}

          {{ form.as_p }}

          <p>(You need to enter the child's username, which will be an email)</p>

          <input type="submit" value="Add child">
        </form>

        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}



      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'log_in' %}">Log In</a>
        <p><a href='{% url 'sign_up' %}'>Sign up!</a></p>
      {% endif %}
    </p>

  </div>
</div>
{% endblock %}
