{% extends 'base.html' %}
{% block body %}
<div id="cover-images">
  <div>
    <p>Simple test page</p>

    </img>
    <p>
      {% if user.is_authenticated %}
        <p>Welcome, {{ user.first_name }} {{ user.last_name }} </p>
        <p><a href='{% url 'request_form' %}'>Request a lesson!</href></p>
        <p><a href='{% url "requests" %}'>View Requests</a></p>
        <p><a href='{% url "view_bookings" %}'>View Bookings</a></p>
        <p><a href='{% url "bank_transfer" %}'>Make a bank transfer</a></p>
        <p><a href='{% url "balance_and_transactions" %}'>See balance and transactions</a></p>

        {% if user.is_adult %}
          <p><a href='{% url "add_child" %}'><b>Add a child</b></href></p>
        {% else %}
          <p></p>
        {% endif %}
        

        
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'log_in' %}">Log In</a>
        <p><a href='{% url 'sign_up' %}'>Sign up!</a></p>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
