{% extends 'base_content.html' %}
{% block content %}
  <div class="container vh-100">

  <div class="row">
    <h1>Home Page</h1>
    <span class="col-9">
      {% if user.is_authenticated %}
        <p><b>Welcome, {{ user.first_name }} {{ user.last_name }}</b></p>
        <p><a href='{% url 'request_form' %}'>Request a lesson!</href></p>
        <p><a href='{% url "requests" %}'>View Requests</a></p>
        <p><a href='{% url "view_bookings" %}'>View Bookings</a></p>
        <p><a href='{% url "bank_transfer" %}'>Make a bank transfer</a></p>
        <p><a href='{% url "balance_and_transactions" %}'>See balance and transactions</a></p>

        {% if user.is_adult %}
          <a href='{% url "view_children" %}'>View Children</a>
        {% endif %}



      {% else %}
        <h5>You are not logged in</h5>
      {% endif %}
    </span>
  </div>
  </div>


{% endblock %}
